<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Home</title>
    <!-- Styles -->
    <link href="/static/assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/static/assets/css/lib/owl.carousel.min.css" rel="stylesheet"/>
    <link href="/static/assets/css/lib/owl.theme.default.min.css" rel="stylesheet"/>
    <link href="/static/assets/css/lib/weather-icons.css" rel="stylesheet"/>
    <link href="/static/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/lib/helper.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-table.css" rel="stylesheet"/>
</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="/web/userManage/goIndex">
                    <!-- <img src="/static/assets/images/logo.png" alt="" /> --><span>Focus</span></a></div>


                <li class="label">客运部</li>

                <li><a href="/web/userManage/goUserManage"><i class="ti-calendar"></i> 人员管理 </a></li>
                <li><a href="app-email.html"><i class="ti-email"></i>纪律管理</a></li>
                <li><a href="app-profile.html"><i class="ti-user"></i> Profile</a></li>
                <li><a href="app-widget-card.html"><i class="ti-layout-grid2-alt"></i> Widget</a></li>
                <li class="label">Features</li>
                <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i> UI Elements <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="ui-typography.html">Typography</a></li>
                        <li><a href="ui-alerts.html">Alerts</a></li>

                        <li><a href="ui-button.html">Button</a></li>
                        <li><a href="ui-dropdown.html">Dropdown</a></li>

                        <li><a href="ui-list-group.html">List Group</a></li>

                        <li><a href="ui-progressbar.html">Progressbar</a></li>
                        <li><a href="ui-tab.html">Tab</a></li>

                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i> Components <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="uc-calendar.html">Calendar</a></li>
                        <li><a href="uc-carousel.html">Carousel</a></li>
                        <li><a href="uc-weather.html">Weather</a></li>
                        <li><a href="uc-datamap.html">Datamap</a></li>
                        <li><a href="uc-todo-list.html">To do</a></li>
                        <li><a href="uc-scrollable.html">Scrollable</a></li>
                        <li><a href="uc-sweetalert.html">Sweet Alert</a></li>
                        <li><a href="uc-toastr.html">Toastr</a></li>
                        <li><a href="uc-range-slider-basic.html">Basic Range Slider</a></li>
                        <li><a href="uc-range-slider-advance.html">Advance Range Slider</a></li>
                        <li><a href="uc-nestable.html">Nestable</a></li>

                        <li><a href="uc-rating-bar-rating.html">Bar Rating</a></li>
                        <li><a href="uc-rating-jRate.html">jRate</a></li>
                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="table-basic.html">Basic</a></li>

                        <li><a href="table-export.html">Datatable Export</a></li>
                        <li><a href="table-row-select.html">Datatable Row Select</a></li>
                        <li><a href="table-jsgrid.html">Editable </a></li>
                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i> Icons <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="font-themify.html">Themify</a></li>
                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-map"></i> Maps <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="gmaps.html">Basic</a></li>
                        <li><a href="vector-map.html">Vector Map</a></li>
                    </ul>
                </li>
                <li class="label">Form</li>
                <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> Basic Form </a></li>
                <li class="label">Extra</li>
                <li><a class="sidebar-sub-toggle"><i class="ti-files"></i> Invoice <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="invoice.html">Basic</a></li>
                        <li><a href="invoice-editable.html">Editable</a></li>
                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Pages <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="page-login.html">Login</a></li>
                        <li><a href="page-register.html">Register</a></li>
                        <li><a href="page-reset-password.html">Forgot password</a></li>
                    </ul>
                </li>
                <li><a href="../documentation/index.html"><i class="ti-file"></i> Documentation</a></li>
                <li><a><i class="ti-close"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
 /# sidebar

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                            <i class="ti-bell"></i>
                            <div class="drop-down dropdown-menu dropdown-menu-right">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">Recent Notifications</span>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/3.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">5 members joined today</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/3.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Mariam</div>
                                                    <div class="notification-text">likes a photo of you</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/3.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Tasnim</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/3.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a class="more-link" href="#">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                            <i class="ti-email"></i>
                            <div class="drop-down dropdown-menu dropdown-menu-right">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">2 New Messages</span>
                                    <a href="email.html">
                                        <i class="ti-pencil-alt pull-right"></i>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/1.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Michael Qin</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/2.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/3.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Michael Qin</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img alt=""
                                                     class="pull-left m-r-10 avatar-img" src="/static/assets/images/avatar/2.jpg"/>
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34 PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you
                                                        ...
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a class="more-link" href="#">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">John
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                            <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">Upgrade Now</span>
                                    <p class="trial-day">30 Days Trail</p>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-user"></i>
                                                <span>Profile</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ti-email"></i>
                                                <span>Inbox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-settings"></i>
                                                <span>Setting</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ti-lock"></i>
                                                <span>Lock Screen</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="ti-power-off"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">

            <div class="panel-body" style="padding-bottom:0px;">
                <div class="btn-group" id="toolbar">
                    <button class="btn btn-default" data-target="#myModal" data-toggle="modal" id="btn_add" onclick="addButton()"
                            type="button">
                        <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>新增
                    </button>

                </div>
                <table id="tb_departments"></table>
            </div>

            <div>

                <!-- Modal -->
                <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body" id="test">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" onclick="add()" type="button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div aria-labelledby="myModalLabel" class="modal fade" id="myModal1" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
                            </div>
                            <div class="modal-body" id="test1">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" onclick="update()" type="button">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- jquery vendor -->
<script src="/static/assets/js/lib/jquery.min.js"></script>
<script src="/static/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/static/assets/js/lib/menubar/sidebar.js"></script>
<script src="/static/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->

<script src="/static/assets/js/lib/bootstrap.min.js"></script>
<script src="/static/assets/js/scripts.js"></script>
<!-- bootstrap -->

<script src="/static/assets/js/lib/calendar-2/moment.latest.min.js"></script>
<script src="/static/assets/js/lib/calendar-2/pignose.calendar.min.js"></script>
<script src="/static/assets/js/lib/calendar-2/pignose.init.js"></script>


<script src="/static/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
<script src="/static/assets/js/lib/weather/weather-init.js"></script>
<script src="/static/assets/js/lib/circle-progress/circle-progress.min.js"></script>
<script src="/static/assets/js/lib/circle-progress/circle-progress-init.js"></script>
<script src="/static/assets/js/lib/chartist/chartist.min.js"></script>
<script src="/static/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
<script src="/static/assets/js/lib/sparklinechart/sparkline.init.js"></script>
<script src="/static/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="/static/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap-table.js" type="text/javascript"></script>
<!-- scripit init-->
<script src="/static/assets/js/dashboard2.js"></script>
<script>


    // <![CDATA[


    $(function () {

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

    });


    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '/web/userManage/getUserList',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: false,                  //是否显示所有的列
                showRefresh: false,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'guid',
                    title: 'id',
                    visible: false
                }, {
                    field: 'userName',
                    title: '姓名'
                }, {
                    field: 'number',
                    title: '工号'
                }, {
                    field: 'company',
                    title: '公司'
                }, {
                    field: 'department',
                    title: '部门'
                }, {
                    title: "操作",
                    formatter: function (value, row, index) {
                        var e = '<a href="#" mce_href="#" data-target="#myModal1" data-toggle="modal" onclick="edit(\'' + row.guid + '\')">编辑</a> ';
                        var d = '<a href="#" mce_href="#"  onclick="show_confirm(\'' + row.guid + '\')">删除</a>';
                        return e + d;
                    }
                }]
            });
        };


        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset //页码
                // departmentname: $("#txt_search_departmentname").val(),
                // statu: $("#txt_search_statu").val()
            };
            return temp;
        };
        return oTableInit;
    };


    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };

        return oInit;
    };

    // ]]>
    function show_confirm(id) {
        var r = confirm("确认删除？");
        if (r == true) {
            del(id);
        }
    }


    function edit(id) {

        var jsona = {
            "guid": id
        };
        $.ajax({
            url: "/web/userManage/getUserInfo",
            async: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsona),
            success: function (result) {
                console.log(result);
                $("#test1").html("<form id='updateForm'><table><tbody><tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>姓名</td>" +
                    "<td><input type='text' name='userName' style='width: 200px;height: 40px;' value='" + result.body.userName + "'>" +
                    "<input type='text' name='guid' hidden='hidden'  value='" + result.body.guid + "'></td></tr><tr style='height: 20px;'></tr>" +
                    "<tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>工号</td><td>" +
                    "<input type='text'name='number' style='width: 200px;height: 40px;' value='" + result.body.number + "'></td></tr><tr style='height: 20px;'></tr>" +
                    "<tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>公司</td><td>" +
                    "<select name='comId' style='width: 200px;height: 40px;'><option  value='" + result.body.comId + "'>" +
                    "" + result.body.company + "</option></select></td></tr><tr style='height: 20px;'></tr>" +
                    "<tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>部门</td><td>" +
                    "<select name='depId' style='width: 200px;height: 40px;'><option  value='" + result.body.depId + "'>" +
                    "" + result.body.department + "</option></select></td></tr><tr style='height: 20px;'></tr></tbody></table></table></form>");
            }
        });
    };


    function addButton() {
        var jsona = {};
        $.ajax({
            url: "/web/userManage/getComList",
            async: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsona),
            success: function (result) {
                console.log(result);
                if (result.header.code == 10000) {
                    $.ajax({
                        url: "/web/userManage/getDepList",
                        async: true,
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(jsona),
                        success: function (res) {
                            debugger
                            if (res.header.code == 10000) {
                                $("#test").html("<form id='addForm'><table><tbody><tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>姓名</td>" +
                                    "<td><input type='text' name='userName' style='width: 200px;height: 40px;' >" +
                                    "</td></tr><tr style='height: 20px;'></tr>" +
                                    "<tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>工号</td><td>" +
                                    "<input type='text'name='number' style='width: 200px;height: 40px;' ></td></tr><tr style='height: 20px;'></tr>" +
                                    "<tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>公司</td><td>" +
                                    "<select name='comId' style='width: 200px;height: 40px;'><option  value='" + result.body[0].comId + "'>" +
                                    "" + result.body[0].company + "</option></select></td></tr><tr style='height: 20px;'></tr>" +
                                    "<tr style='padding: 10px;'><td style='width: 200px;height: 40px;'>部门</td><td>" +
                                    "<select name='depId' style='width: 200px;height: 40px;'><option  value='" + res.body[0].depId + "'>" +
                                    "" + res.body[0].department + "</option></select></td></tr><tr style='height: 20px;'></tr></tbody></table></table></form>");
                            }
                        }
                    })
                }
            }
        })
    };

    function del(id) {

        var tempArr = [id];
        var jsona = {
            "body": {"guidList": tempArr}
        };
        $.ajax({
            url: "/web/userManage/deleteUser",
            async: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jsona),
            success: function (result) {
                if (result.header.code == 10000) {
                    alert(result.header.message);
                    $('#tb_departments').bootstrapTable('refresh');
                }
            }
        });
    };

    function update() {
        var formObject = {};
        var formArray = $("#updateForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $.ajax({
            url: "/web/userManage/updateUser",
            async: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            success: function (result) {
                if (result.header.code == 10000) {
                    $('#myModal1').modal('hide');
                    alert(result.header.message);
                    $('#tb_departments').bootstrapTable("refresh");
                }
            }
        });
    };

    function add() {
        debugger
        var formObject = {};
        var formArray = $("#addForm").serializeArray();
        $.each(formArray, function (i, item) {
            formObject[item.name] = item.value;
        });
        $.ajax({
            url: "/web/userManage/addUser",
            async: true,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formObject),
            success: function (result) {
                if (result.header.code == 10000) {
                    $('#myModal').modal('hide');
                    alert(result.header.message);
                    $('#tb_departments').bootstrapTable("refresh");
                }
            }
        });
    };

</script>


</html>
